@import "./vars";
.card{
    display: flex;
    flex-direction: column;
    width: $Card-width;
    border-radius: $Card-border-radious;

    border: $Card-border $Card-border-color;
    box-shadow: $Card-shadow-position $Card-shadow-color;
    position: absolute;
    left: 30%;
    top: 10%;
}