@import "./vars";

.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.image-reactions{
    display: flex;
    flex-direction: row;
    padding: 10px $p-2;
    gap: $gap-1;
}

.heart-anim{
    animation: heart--animation 1s linear;
}

.image-footer{
    display: flex;
    flex-direction: row;
    padding: 0px $p-2;
    &-username{
        font-family: $fonts-profile-comments;
        font-size: $fs-profile-comments;
        font-weight: $fw-profile-comments;
        line-height: $line-h-profile-comments;
    }
    &-comment{
        font-family: $fonts-chat-font;
        font-size: $fs-chat-font;
        font-weight: $fw-chat-font;
        line-height: $line-h-profile-comments;
    }
}